<nav
  aria-label="breadcrumb"
  class="fixed top-[120px] z-40 w-full bg-[#f0f4f7] py-2 pl-4"
>
  <ol class="flex flex-wrap items-center">
    <li class="">
      <a
        href=""
        (click)="onHomeClick($event)"
        class="group flex items-center transition-all duration-300 ease-in-out hover:scale-125 hover:font-bold"
      >
        <mat-icon style="width: 24px; height: 24px; font-size: 24px">
          <span
            class="material-icons-round text-[#929398]"
            style="font-size: 24px"
          >
            home
          </span>
        </mat-icon>
      </a>
    </li>
    @for (
      breadcrumb of breadcrumbs();
      track $index;
      let i = $index, last = $last
    ) {
      <li class="flex items-center">
        <mat-icon style="width: 24px; height: 24px; font-size: 24px">
          <span
            class="material-icons-round text-[#929398]"
            style="font-size: 24px"
          >
            chevron_right
          </span>
        </mat-icon>
        <a
          *ngIf="!last"
          href=""
          (click)="onBreadcrumbClick($event, breadcrumb)"
          class="text-[#929398] transition-all duration-300 ease-in-out hover:scale-105 hover:font-bold"
        >
          {{ breadcrumb.label }}
        </a>
        <span *ngIf="last" class="text-[#929398]">
          <strong>{{ breadcrumb.label }}</strong>
        </span>
      </li>
    }
  </ol>
</nav>
