.titulo-requerimiento-drawer {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: bold;
}

.titulo-requerimiento-normal {
  font-size: 14px;
}

.valor-requerimiento-normal {
  font-size: 14px;
  font-weight: bold;
}

.btn-modificar-fecha {
  font-size: 14px;
}

.error-cambio-fecha {
  background-color: #f5c2c7;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.exito-cambio-fecha {
  background-color: #e5feff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 8px;
  margin-bottom: 8px;
}
