.titulo-header {
  border-left: 3px solid #006b99;
  margin-bottom: 32px;
}

.titulo-header-contenido {
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.titulo-p {
  font-weight: bold;
  color: #252730;
}

.respuesta-header {
  border-left: 3px solid #006b99;
  margin-bottom: 32px;
}

.respuesta-header-contenido {
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}
