.warning-icon {
  color: #6a1a21;
  width: 55px;
  height: 55px;
  background-color: #f5c2c7;
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 12px;
}

.perder-cambios-title {
  margin-bottom: 12px;
}
