<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<mat-dialog-content>
  <div class="flex flex-col justify-center">
    <div class="warning-icon">
      <span class="material-symbols-outlined" style="font-size: 38px">
        info
      </span>
    </div>
    <div style="margin-bottom: 16px">
      <strong
        class="perder-cambios-title"
        style="font-size: 16px; color: #252730"
        >Borrador guardado!</strong
      >
      <br />
      <p class="mt-5 flex items-center justify-center gap-2 text-sm">
        El borrador ha sido guardado con éxito!
      </p>
    </div>
  </div>
  <div class="flex gap-3">
    <button
      (click)="cerrarAlerta()"
      class="flex w-full items-center justify-center rounded-lg bg-[#006B99] py-3 text-base font-semibold text-white"
    >
      Aceptar
    </button>
  </div>
</mat-dialog-content>
