<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<mat-dialog-content>
  <div class="flex w-fit flex-col justify-center">
    <div class="warning-icon">
      <span class="material-symbols-outlined" style="font-size: 38px">
        error
      </span>
    </div>
    <div style="margin-bottom: 16px">
      <strong
        class="perder-cambios-title"
        style="font-size: 16px; color: #252730"
        >Fallo en el envío del recordatorio
      </strong>
      <br />
      <p class="mt-5 flex items-center justify-center gap-2 text-sm">
        No ha sido posible enviar el recordatorio a los coordinados, por favor
        reintente.
      </p>
    </div>
  </div>

  <div class="flex w-full justify-center gap-2">
    <button (click)="cerrarAlerta()" class="px-11 py-3 text-base font-semibold">
      Volver
    </button>
    <button
      class="w-full rounded-lg bg-[#006B99] px-8 py-3 text-base font-semibold text-white"
      (click)="reintentarEnvio()"
    >
      Aceptar
    </button>
  </div>
</mat-dialog-content>
