.warning-icon {
  color: #523e02;
  width: 55px;
  height: 55px;
  background-color: #fff3cd;
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 12px;
}

.perder-cambios-title {
  margin-bottom: 12px;
}
