<mat-dialog-content>
  <div class="mb-[10px] flex w-fit items-center rounded-lg bg-[#FFF3CD] p-2">
    <mat-icon style="width: 32px; height: 32px; font-size: 32px">
      <span
        style="font-size: 32px"
        class="material-icons-outlined text-[##523E02]"
      >
        info
      </span>
    </mat-icon>
  </div>
  <p class="mb-[11px] text-base font-semibold">
    Guardar en borrador el requerimiento
  </p>
  <p class="mb-8 text-sm font-normal">
    ¿Está usted seguro que desea guardar el requerimiento y continuarlo después?
  </p>
  <div class="flex gap-3">
    <button
      (click)="closeDialog()"
      class="w-full rounded-lg py-3 text-base font-semibold text-[#006B99] hover:bg-[#006B99]/10"
    >
      Volver
    </button>

    <button
      (click)="acceptAndNavigate()"
      class="flex w-full items-center justify-center rounded-lg bg-[#006B99] py-3 text-base font-semibold text-white"
    >
      Si, guardar
    </button>
  </div>
</mat-dialog-content>
